/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);

/**************----------------ALL----------------------**************/

* {
	color: #002b80;
}
body {
	font-family: 'Work Sans';
	background: 
	linear-gradient(
		rgba(210,255,82,1),
		rgba(145,232,66,.5)
	),
	url("question-mark-background.png");
	background-size: 600px 750px;
}

abbr{
	color: red;
}

#errors {
	text-align: center;
    border: solid 1px;
    border-radius: 25px;
    margin-bottom: 15px;

	h2 {
		border-bottom: solid 1px;
	}
	li {
		text-align: left;
		color: red;
	}
}
.row {
	margin-right: 0;
}
/**************----------------NAVIGATION----------------------**************/

#notification_wrapper {
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center
}

.navbar {
	color: #002b80;
	background-color: #fff;

}
/**************----------------BODY----------------------**************/
.random-div {
	height: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

		/**********-----------CATEGORY-------------**********/
a {
	color: #002b80;
}
ul#category {
    padding: 0;
}

ul#category li {
	min-width: 170px;
    padding: 10px 5px;
}

ul#category li a {
    background-color: #fff;
    color: #002b80;
    padding: 10px 20px;
    text-decoration: none;
}

ul#category li a:hover {
    background-color: orange;
}
.pagination {
	border-radius: 0;
	background-color: #fff;
}
/**************----------------QUESTIONS----------------------**************/

		/***********************INDEX****************************/
#questions {
}
#question {
	overflow: hidden;
	background: #fff;
    margin: 0px 10px 10px 30px;
    max-height: 250px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.52);
	text-align: left;
	padding-right: 0;
}
#question img {
	float: right;
	display: inline-block;
}
		/***********************SHOW****************************/
.bg-white {
	background-color: #fff;
    border-radius: 15px;
    padding-bottom: 20px;
}












